body {
	background-color: #ACACAC;
}

.spacer{
	padding: 5px;
}

.CenteredHeader {
	display: flex;
	justify-content: space-around;
}

.backButton {
	padding: 10px;
	background-color: #C07172;
	font-size: 15px;
	
}

.menu {
	border: 2px solid black;
	background-color: #B4B4B4;
	width: 150px;
	height: 40px;
}

.nav {
	border: 2px solid black;
	background-color: #B4B4B4;
	width: 150px;
	height: 40px;
}

.HolyGrail {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.HolyGrail-body {
	display: flex;
	flex: 1;
}

.HolyGrail-content {
	flex: 1;
	padding: 10px;
	font-size: 24px;
	background-color: #E1E1E1;
}

.img-in-txt {
	float: left;
}

.HolyGrail-nav, .HolyGrail-ads {
/* 12em is the width of the columns */
	flex: 0 0 12em;
	border-left: 5px solid black;
	padding: 8px;
	background-color: #BB5A5C
}

.HolyGrail-nav {
/* put the nav on the right */
	order: 1;
	align-content: center;
}

.mainMenu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 50px;
	border-bottom: 5px solid black;
}

.bg {
	display: flex;
	height:130px;
	width: 100%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 70px;
	align-items: center;
	padding: 8px;
	border-bottom: 5px solid black;
	/* align-content: center; */
}
		
.logo {
	height: 120px;
	padding-right: 50px;
}

.Calendar{
	height: 150px;
	width: 150px;
	border: 3px solid black
}

.title {
	color: #000000;
	text-decoration: none;
}


/* Gallery Formatting and styles for the events page */
.gallery {
    	display: grid;
		grid-template-columns: repeat(8, 1fr);
    	grid-template-rows: repeat(8, 5vw);
    	grid-gap: 15px;
		}
		
		.gallery__img {
    		width: 100%;
   			height: 100%;
    		object-fit: cover;
			border: 5px solid green;
		}

.gridLabel{
	display: flex;
	justify-content: space-around;
	
}
		
		.gallery__item--1 {
  			grid-column-start: 1;
  			grid-column-end: 5;
  			grid-row-start: 1;
  			grid-row-end: 5;
		}
		.gallery__item--2 {
  			grid-column-start: 5;
  			grid-column-end: 10;
  			grid-row-start: 1;
  			grid-row-end: 5;
		}
		.gallery__item--3 {
  			grid-column-start: 1;
  			grid-column-end: 5;
  			grid-row-start: 5;
  			grid-row-end: 10;
		}
		.gallery__item--4 {
  			grid-column-start: 5;
  			grid-column-end: 10;
  			grid-row-start: 5;
  			grid-row-end: 10;
		}
		.gallery__item--5 {
  			grid-column-start: 1;
  			grid-column-end: 5;
  			grid-row-start: 10;
  			grid-row-end: 15;
		}
		.gallery__item--6 {
  			grid-column-start: 5;
  			grid-column-end: 10;
  			grid-row-start: 10;
  			grid-row-end: 15;
		}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
	
  background: #BB5A5C;
  text-align: center;
}

/* Month list */
.month ul {
	 width: 95%;
	margin: 0;
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
	 width: 95%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.2%;
	height: 40px;
  text-align: center;
  margin: 5px 0;
  font-size:12px;
  color: #555;
	border: 1px solid black;
}

.days .prevMonth {
	color: #aaa;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #BB5A5C;
  color: white !important;
	  
}

.tooltip {
  position: relative;
  display: inline-block;
	text-decoration: underline;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 2px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
	width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
